.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  cursor: pointer;
  transition: 0.3s;
}
.navigation-links-text:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-text1 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
}
.navigation-links-text1:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-text2 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
}
.navigation-links-text2:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-text3 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
}
.navigation-links-text3:hover {
  color: var(--dl-color-scheme-brown);
}








.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-threeunits);
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigation-text {
  font-family: Source Serif Pro;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-register {
  text-decoration: none;
  background-color: #fecb30;
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.navigation-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon2 {
  width: 24px;
  height: 24px;
}

@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
  .navigation-icon {
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
  .navigation-root-class-name {
    margin-top: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-text {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
  }
  .navigation-root-class-name {
    align-self: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  height: 1026px;
  position: relative;
  padding-top: 128px;
}
.home-max-width {
  margin-top: var(--dl-space-space-threeunits);
}
.home-heading-container {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text03 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  text-align: center;
  font-family: Mulish;
  line-height: 1.44;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-gallery {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
}
.home-container1 {
  width: 25%;
  align-self: stretch;
}
.home-image {
  width: 237px;
  height: 592px;
  object-fit: cover;
}
.home-container2 {
  width: 25%;
  display: flex;
  grid-gap: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image1 {
  width: 218px;
  height: 592px;
  object-fit: cover;
}
.home-container3 {
  width: 50%;
  display: flex;
  grid-gap: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image2 {
  width: 456px;
  height: 589px;
  object-fit: cover;
}
.home-hero1 {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: var(--dl-size-size-large);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text05 {
  font-size: 3rem;
  font-family: Source Serif Pro;
}
.home-text06 {
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-iframe {
  width: fit-content;
  height: fit-content;
}
.home-about {
  background-color: #000000;
}
.home-max-width1 {
  flex-direction: row;
  justify-content: space-between;
}
.home-text-container {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text09 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home-text10 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text12 {
  color: rgba(255, 255, 255, 0.8);
  align-self: center;
  font-family: Mulish;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image3 {
  flex: 1;
  width: 519px;
  height: 517px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-banner {
  background-color: var(--dl-color-scheme-brown);
}
.home-max-width2 {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text13 {
  color: #000000;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text15 {
  color: #000000;
  text-align: center;
  font-family: Mulish;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text17 {
  font-style: italic;
}
.home-text19 {
  font-style: italic;
}
.home-primary {
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.home-text22 {
  font-family: Mulish;
  text-decoration: none;
}
.home-text24 {
  font-style: italic;
}
.home-footer {
  height: 158px;
  padding-top: 45px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-text25 {
  font-family: Source Serif Pro;
}
.home-text26 {
  font-family: Mulish;
  margin-right: var(--dl-space-space-fiveunits);
}
.home-text28 {
  font-weight: 700;
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
@media(max-width: 991px) {
  .home-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-gallery {
    flex-direction: column;
  }
  .home-container1 {
    width: 100%;
  }
  .home-image {
    display: none;
  }
  .home-container2 {
    width: 100%;
    flex-direction: row;
  }
  .home-image1 {
    display: none;
  }
  .home-container3 {
    width: 100%;
    align-items: stretch;
  }
  .home-image2 {
    width: 100%;
    height: 540px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .home-hero1 {
    flex-direction: column;
  }
  .home-container4 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text05 {
    text-align: center;
  }
  .home-text06 {
    text-align: center;
  }
  .home-about {
    height: 1269px;
  }
  .home-max-width1 {
    flex-direction: column;
  }
  .home-text-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-image-container {
    width: 100%;
  }
  .home-image3 {
    width: 100%;
    height: 851px;
  }
}
@media(max-width: 767px) {
  .home-heading-container {
    height: 125px;
  }
  .home-text {
    font-size: 48px;
  }
  .home-image {
    display: none;
  }
  .home-container2 {
    display: none;
    grid-template-columns: 1fr 1fr;
  }
  .home-image2 {
    width: 100%;
    height: 434px;
    align-self: center;
  }
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text06 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image3 {
    height: 824px;
    margin-bottom: 0px;
  }
  .home-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text26 {
    text-align: center;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .home-hero {
    height: 1330px;
  }
  .home-heading-container {
    height: 189px;
  }
  .home-gallery {
    height: 477px;
  }
  .home-image {
    display: none;
  }
  .home-image1 {
    display: none;
  }
  .home-image2 {
    width: 100%;
    height: 594px;
    padding-bottom: 5px;
  }
  .home-hero1 {
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image3 {
    height: 642px;
  }
  .home-footer {
    margin-bottom: 41px;
  }
  .home-footer1 {
    height: 186px;
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text26 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
