<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <span class="navigation-links-text navigation-Link">
      <span>Inicio</span>
    </span>
    <span class="navigation-links-text1 navigation-Link">
      <span>Libros</span>
    </span>
    <span class="navigation-links-text2 navigation-Link">
      <span>Press Kit</span>
    </span>
    <span class="navigation-links-text3 navigation-Link">
      <span>Acerca</span>
    </span>
  </nav>
</div>
